/*Custom CSS*/

.walletInfo {
    /* display: none !important; */
    margin-left: 10px;
    padding: 0px 10px;
    padding-right: 0px;
    height: 37px;
    background-color: rgb(64, 68, 79) !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid #9737ff;
}

.walletInfo .address {
    background-color: rgb(1, 6, 18);
    line-height: 35px;
    padding: 0px 10px;
    border-radius: 10px;
}

.walletInfo div {
    font-size: 15px !important;
    color: white !important;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: 500;
}

.web3modal-modal-card {
    display: flex!important;
    flex-direction: column!important;
    background-color: rgb(33, 36, 41)!important;
    box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px!important;
    padding: 20px 10px!important;
    width: 50vw!important;
    align-self: center!important;
    max-width: 420px!important;
    max-height: 90vh!important;
    border-radius: 20px!important;
}

.web3modal-provider-wrapper {
    border: 0px !important;
}

.web3modal-modal-card>div:nth-child(1) .web3modal-provider-container {
    background-image: linear-gradient( 267.54deg, rgb(255, 220, 36) 1.63%, rgb(255, 92, 0) 98.05%)!important;
}

.web3modal-modal-card>div:nth-child(2) .web3modal-provider-container {
    background-image: linear-gradient( 267.56deg, rgb(5, 0, 255) 0%, rgb(143, 0, 255) 97.07%);
}

.web3modal-modal-card>div:nth-child(3) .web3modal-provider-container {
    background-image: linear-gradient( 315deg, #3f0d12 0%, #a71d31 74%);
}

.web3modal-provider-container {
    flex-direction: row !important;
    padding: 6px 10px !important;
    background-color: rgb(33, 36, 41)!important;
    width: 340px !important;
    height: 60px !important;
    justify-content: space-between !important;
}

.web3modal-provider-icon {
    width: 25px !important;
}

.web3modal-provider-container:hover {
    background-color: rgb(63, 66, 71)!important;
    transform: translate(0, -2px) !important;
}

.web3modal-provider-name {
    display: none;
}

.web3modal-provider-description {
    box-sizing: border-box;
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif !important;
    font-size: 16px !important;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 700;
    height: 24px;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    /* width: 80.5469px !important; */
    width: 100%;
    word-spacing: 0px;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    writing-mode: horizontal-tb;
}